<div class="drawer lg:drawer-open">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Navbar -->
    <shared-navbar/>
    <!-- Page content here -->
    <div class="p-3">
      <router-outlet />
    </div>
  </div>

  <div class="drawer-side is-drawer-close:overflow-visible">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64">
      <!-- Sidebar content here -->
      <ul class="menu w-full grow flex flex-col gap-y-5">
        <!-- List item -->
        <li>
          <a [routerLink]="['/admin/dashboard/home']" class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
            data-tip="Inicio">
            <!-- Home icon -->
            <img [src]="['assets/images/inicio.svg']" class="w-10" alt="Icono de inicio">
            <span class="is-drawer-close:hidden">Inicio</span>
          </a>
        </li>

        @if(isAdmin){
        <li>
          <a [routerLink]="['/admin/dashboard/users']" class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
            data-tip="Usuarios">
            <!-- Home icon -->
            <img [src]="['assets/images/usuarios.svg']" class="w-10" alt="Icono de usuario">
            <span class="is-drawer-close:hidden">Gestion de usuarios</span>
          </a>
        </li>

        }


        <li>
          <a [routerLink]="['/admin/dashboard/property']" data-tip="Propiedad">
            <!-- Home icon -->
            <img [src]="['assets/images/apartamento.svg']" class="w-10" alt="Icono de propiedad">
            <span class="is-drawer-close:hidden">Gestion de propiedades</span>
          </a>
        </li>

        <!-- List item -->
        <li>
          <button class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Configuracion">
            <!-- Settings icon -->
            <img [src]="['assets/images/configuracion.svg']" class="w-10" alt="Icono de configuracion">
            <span class="is-drawer-close:hidden">Configuracion</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
