<div class="card bg-base-100 shadow-xl max-w-lg mx-auto mt-10">
  <div class="card-body">
    @if(requestStatus() === 'pendiente'){
    <h4>Ya tienes una solicitud pendiente</h4>
    <p>Tu solicitud para ser propetario está en revisión. Te notificaremos pronto.</p>
    }
    @else if(requestStatus() === null) {
    <h2 class="card-title">¡Conviértete en Propietario!</h2>
    <p class="text-sm text-base-content/70">
      Envía una solicitud al administrador para poder publicar tus propios inmuebles.
    </p>
    <form-become-owner />
    }
  </div>
</div>
