<div class="container mx-auto px-4 max-w-3xl">
    <h2 class="text-4xl font-bold text-center mb-12">Preguntas Frecuentes</h2>
    <div class="join join-vertical w-full bg-base-100 shadow-xl rounded-box">

      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion" checked="checked" />
        <div class="collapse-title text-xl font-medium">¿Tiene algún costo buscar propiedades?</div>
        <div class="collapse-content">
          <p>No, explorar inmuebles, usar los filtros y contactar a los dueños o agentes es una funcionalidad totalmente
            gratuita para todos los usuarios registrados.</p>
        </div>
      </div>

      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion" />
        <div class="collapse-title text-xl font-medium">¿Puedo subir imágenes de prueba de mi apartamento?</div>
        <div class="collapse-content">
          <p>Sí, la plataforma permite cargar hasta 10 fotografías en alta resolución para que los visitantes puedan ver
            tu inmueble en detalle.</p>
        </div>
      </div>

      <div class="collapse collapse-arrow join-item border border-base-300">
        <input type="radio" name="my-accordion" />
        <div class="collapse-title text-xl font-medium">¿Cómo funciona el contacto con el agente?</div>
        <div class="collapse-content">
          <p>Una vez te interese una propiedad, puedes utilizar nuestro botón de "Contactar" para enviar un mensaje
            directo o acceder a sus redes sociales asociadas.</p>
        </div>
      </div>

    </div>
  </div>
