<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Cargo</th>
        <th>Phone</th>
        <th>Acciones</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      @for (profile of profiles(); track profile.id) {
      <tr>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img [src]="profile.avatar" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{profile.user.name}}</div>
            </div>
          </div>
        </td>
        <td>
          {{profile.user.email}}
        </td>
        <td>
          {{profile.jobTitle}}
        </td>
        <td>{{profile.phone}}</td>
        <th>
          <button class="btn btn-ghost btn-xs">details</button>
        </th>
      </tr>
      }

    </tbody>
    <!-- foot -->
    <tfoot>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Cargo</th>
        <th>Celular</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
