<div class="max-w-6xl mx-auto p-4 md:p-8">

  <!-- Encabezado de la página -->
  <div class="flex flex-col sm:flex-row justify-between items-center mb-6 gap-4">
    <div>
      <h2 class="text-2xl font-bold text-base-content flex items-center gap-2">
        Listado de usuario
      </h2>
      <p class="text-sm text-base-content/70">Administra los usuarios del sistema.</p>
    </div>

    <!-- Contador -->
    <div class="badge badge-primary badge-outline p-3 font-semibold">
      {{ profiles().length }} usuarios
    </div>
  </div>


  <!-- Asumiendo que trashedProperties es una Signal, se pasa ejecutándola () -->
  <app-data-table
    [data]="profiles()"
    emptyTitle="Papelera Vacía"
    [searchKeys]="['user.name', 'jobTitle']"
    emptyMessage="No hay inmuebles eliminados actualmente.">

    <!-- CABECERA -->
    <ng-template #header>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Cargo</th>
        <th>Phone</th>
        <th>Acciones</th>
      </tr>
    </ng-template>

    <!-- FILAS (let-property captura el $implicit) -->
    <ng-template #body let-profile>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img [src]="profile.avatar" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{profile.user.name}}</div>
            </div>
          </div>
        </td>
        <td>
          {{profile.user.email}}
        </td>
        <td>
          {{profile.jobTitle}}
        </td>
        <td>{{profile.phone}}</td>
        <td>
          <a class="btn btn-ghost btn-xs"[routerLink]="['show', profile.user.id]">details</a>
        </td>
    </ng-template>

     @if (profiles().length === 0) {
        <div class="flex flex-col items-center justify-center py-16 text-center">
          <div class="bg-base-200 p-4 rounded-full mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-base-content/40" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
          </div>
          <h3 class="font-bold text-lg text-base-content/70">Papelera Vacía</h3>
          <p class="text-sm text-base-content/50">No hay inmuebles eliminados actualmente.</p>
        </div>
      }

  </app-data-table>


</div>



